.FontSize {
    font-size: 16px;
}

@media(max-width: 735px) {
    .FontSize {
        font-size:13px;
    }
}

.Active {
    background: none #fff;
    color: rgba(0,0,0,.95);
    border-color: #d4d4d5;
    margin: 0 -1px 0 0;
    border-radius: .28571429rem 0 0 .28571429rem!important;
}